/*-------------- reset ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------- header ----------------- */

.header {
    width: 100%;
    background-color: rgb(2, 0, 100);
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #afaeae;
}

.header h1 {
    font-size: 2rem;
    color: #fff;
}

.header-titulo h1 {
    font-size: 2rem;
    margin: 1rem;
}

.header button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    bottom: 0;
}
/*-------------- container ----------------- */

.container{
    width: 100%;
    border: solid black 1px;
    position: relative;
    height: 100px;
    display: flex;
}

.box{
    position: absolute;
    left: 10px;
    top: 10px;
    width: 50px;
    height: 50px;
    background-color: #255250;
    /*border: solid 5px #000;
    transition: border 3s 2s;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: minhaAnimação;
    animation-iteration-count: infinite;*/
    animation: minhaAnimação 5s .1s infinite alternate;
}
@keyframes minhaAnimação {

    0%{
        background-color: #fff;
    }
    25%{
        background-color: #681e1e;
    }
    50%{
        background-color: rgb(255, 255, 255)909;
    }
    75%{
        background-color: #255250;
    }
    100%{
        background-color: #681e1e;
    }

    from{ }
    to {
        transform: rotate(360deg);
    }
}