
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    margin-top: 1rem;
}
.links{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
.link{
    padding: 10px;
    boder: 1px #1c296b solid;
    boder-raduns: 1.5rem;
    background-color: #1c296b;
    color: #fff;
}