* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ header ------------------ */
header {
    width: 100%;
    background-color: rgb(2, 0, 100);
    padding: 1rem;
    display: flex;
    justify-content: center;

}

header h1 {
    font-size: 2rem;
    color: white;
}

/* ------------------ body ------------------ */
body {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.6418942577030813) 75%, rgba(0, 4, 255, 0.664) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
}

/* ------------------ Titles ------------------ */

.content {
    display: flex;
    flex-direction: column;
    padding: .5rem;
    align-items: center;
    color: #fff;
}

/* ------------------ links ------------------ */

.links-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 2rem;
}

.links-container p {
    font-size: 1rem;
    color: white;
}

.links-container a {
    padding: 10px;
    border-radius: 1rem;
    background-color: #334bd6;
    color: #ffffff;
    font-size: 1rem;
    margin-left: 1rem;
    text-decoration: none;
}

.links-container a:hover {
    color: #8A2BE2;
}

/* ------------------ img ------------------ */

.image-container {
    display: flex;
    justify-content: end;
    width: 50%;
}

.image-container img {
    width: 100%;
}