/*-------------- reset ----------------- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------- header ----------------- */

.header {
    width: 100%;
    background-color: rgb(2, 0, 100);
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #afaeae;
}

.header h1 {
    font-size: 2rem;
    color: #fff;
}

.header-titulo h1 {
    font-size: 2rem;
    margin: 1rem;
}

.header button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    bottom: 0;
}


.container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    background-color: #696969;
    border-radius: 1rem;
}

.card-1{
    position: relative;
}


.card-2{
    position: relative;
}


.red p{
    right: 0px;
    bottom: 250px;
    position: absolute;
    text-align: center;
}

.green p{
    left: 0px;
    bottom: 250px;
    position: absolute;
    text-align: center;
    
}

.blue p{
    right: 0px;
    bottom: 230px;
    position: absolute;
    text-align: center;

}

.red{
    border-radius: 80px 450px 0px 450px;
    width: 250px;
    height: 250px;
    background-color: red;
}

.blue{
    border-radius: 450px 0px 450px 80px;
    width: 250px;
    height: 250px;
    background-color: blue;
}

.green{
    border-radius: 450px 80px 450px 0px;
    width: 250px;
    height: 250px;
    background-color: green;
}

.yellow{
    border-radius: 0px 450px 80px 450px;
    width: 250px;
    height: 250px;
    background-color: yellow;
}