* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* --------------- header ------------- */

.header {
    width: 100%;
    background-color: rgb(2, 0, 100);
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #afaeae;
}

.header h1 {
    font-size: 2rem;
    color: #fff;
}

.header-titulo h1 {
    font-size: 2rem;
    margin: 1rem;
}

.header button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    bottom: 0;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header-titulo{
    text-align: center;
}

.content{
    width:50%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
} 


.card{
    padding: 1rem;
    width: 100%;
    border: .1rem solid rgb(0, 0, 0);
    border-radius: .5rem;
    background-color: #1d1d1d;
    color: #fff;  
}


.card p{
    margin: .5rem 0;
    text-align: justify;
}

.img{
    width: 50%;
    float: right;
    padding: .3rem 0 0 .6rem;
    border-radius: 1rem;
}

.footer{
    font-style: italic;
    padding: 0 1rem 0 .5rem;
    border-left: .5rem solid black;
    font-size: .8rem;
}

.header-card{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}