/*-------------- reset ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*-------------- header ----------------- */

.header {
    width: 100%;
    background-color: rgb(2, 0, 100);
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #afaeae;
}

.header h1 {
    font-size: 2rem;
    color: #fff;
}

.header-titulo h1 {
    font-size: 2rem;
    margin: 1rem;
}

.header button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    bottom: 0;
}

/*-------------- container ----------------- */

.col-md-2{
    border: 1px solid black;
}

.col-md-8{
    border: 1px solid black;
    text-align: center;
}

.col-md-6{
    border: 1px solid black;
}

.col-md-12{
    border: 1px solid black;
    text-align: center;

}