:root {
    --primary: #4722cc;
    --segundary: #000000;
    --terceary: #fff;

}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ header ------------------ */

header {
    width: 100%;
    background-color: rgb(2, 0, 100);
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;

}

header h1 {
    font-size: 2rem;
    color: #fff;
}

header button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    bottom: 0;
}

body {
    background-image: linear-gradient(#1d0461, #351064, #280e4b, #1d0461);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content {
    width: 50%;
    background-image: linear-gradient(#000000, #3a0896, #000000);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-container {
    margin-top: .5rem;
    border-radius: 10rem;
    border: .2rem var(--primary) dotted ;
}

.button {
    border-radius: .3rem;
    background-color: var(--primary);
    padding: .2rem 5rem .2rem 5rem;
    color: #000000;
    font-size: 1.5rem;
    text-decoration: none;
}

.questionario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.formulario-container {
    font-size: 1.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: .3rem;
    text-align: center;
}

.button-container a:hover {
    color: #fff;
    border: .1rem var(--terceary) solid;
}

.cadastro-container {
    display: flex;
    align-items: end;
}

.input-container {
    display: flex;
    border-radius: 2rem;
    padding: .5rem 12rem .5rem .6rem;
    text-align: start;
    border: .1rem #000000 solid;
    background-color: #ffffff;
}

.dados-senhas a:hover {
    color: var(--terceary);
}

.chekinbox-container {
    display: flex;
    gap: .3rem;
}

.dados-senhas {
    display: flex;
    align-items: start;
    display: flex;
    gap: 1.5rem;
}

.dados-senhas a:hover{
    color:var(--primary);
}

.link-container {
    text-decoration: none;
    color: #fff;
}

.link-container a:hover{
    color: var(--primary);
}


.link-cadastro{
    display: flex;
    padding: 0 0 .3rem 0;
}

.link-cadastro a:hover{
    color: var(--primary);

}