* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------ header ------------------ */

header {
    width: 100%;
    background-color: rgb(2, 0, 100);
    padding: 1rem;
    display: flex;
    justify-content: center;
    position: relative;

}

header h1 {
    font-size: 2rem;
    color: #fff;
}

header button {
    background-color: transparent;
    border: none;
    color: #fff;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    bottom: 0;
}

body {
    background-image: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 0.6418942577030813) 75%, rgba(0, 4, 255, 0.664) 100%);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.content {
    width: 50%;
    background-image: linear-gradient(#000000, #3a0896, #000000, #000000);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.img-container {
    margin-top: .5rem;
    border-radius: 1rem;
}

.button {
    border-radius: .3rem;
    background-color: #201058;
    padding: .2rem 5rem .2rem 5rem;
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.questionario-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulario-container {
    font-size: 1.5rem;
    border-radius: 1rem;
}

.input-container {
    display: flex;
    border-radius: .5rem;
    padding: .1rem 10rem 0 0rem;
    text-align: center;
}

.chekinbox-container {
    display: flex;
    justify-content: space-between;
    gap: .1rem;
}

.dados-senhas {
    display: flex;
    gap: 1.5rem;
}

.link-container {
    text-decoration: none;
}