*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ------------------------------- header -------------------------------- */
header{
    width: 100%;
    background-color: rgb(2,0,100);
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-size: 2rem;
    color: white;
}

header button{
    background-color: transparent;
    border: none;
    color: white;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    bottom: 0;
}

/* ------------------------------- body -------------------------------- */

body{
    background-image: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.6418942577030813) 75%, rgba(0, 4, 255, 0.664) 100%);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main{
    max-width: 1600px;
    margin:auto;
}

h1, p{
    color: white;
    margin-top: 1rem;
} 

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.tables-containe{
    text-align: center;
    width: 50%;
    display: flex;
    gap: 10rem;
}
.tables-containe-tables2{
    display: flex;
    text-align: center;
}

.img-container{
    width: 50%;
    border: 1px solid black;
    border-radius: 1rem;
}